*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuil
.idea/
gradle.properties
fabric.properties
props.gradle
mnmaolvdprod.keystore
google-services.json
dig
sec.tar
