*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuil
gradle/
.idea/
gradle.properties
fabric.properties
props.gradle
mnmaolvdprod.keystore
app/src/prod/google-services.json
